<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334962880431-pgh10ne97ln5mnbsj6t37fi87hsf2sb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334962880431-pgh10ne97ln5mnbsj6t37fi87hsf2sb4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334962880431-3appb9cq5po8ucio7mk41rm7jb6dmcp0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjI431CIQTN5V4NQauRCPns9PT4D07ILA</string>
	<key>GCM_SENDER_ID</key>
	<string>334962880431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.numiner.NuWallet1</string>
	<key>PROJECT_ID</key>
	<string>nuwallet-c4197</string>
	<key>STORAGE_BUCKET</key>
	<string>nuwallet-c4197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334962880431:ios:156901dbc53e755e28c95a</string>
</dict>
</plist>